<div class="container text-center">
  <h1>List Cocktails</h1>
  <hr>
    <div class="list-group">
      <ul>
        <% @cocktails.each do |cocktail| %>
        <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to "Create Cocktail", new_cocktail_path %>
</div>
